@font-face {
	font-family: "NICLA DEMO";
	src: url('../fonts/NICLA DEMO.TTF');
}

@font-face {
	font-family: "Montserrat Regular";
	src: url('../fonts/MONTSERRAT-REGULAR.TTF');
}

@font-face {
	font-family: "Stable Regular";
	src: url('../fonts/STABLE.TTF');
}

body{
    padding: 0; margin: 0;
    font-family: "Montserrat Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #F3F7FD;
}

.hr-1
{
    border: 1px solid #707070;
    border-radius: 2px;
    margin-top: 13px;
    width: 230px;
}

/*SECTION 1*/

#section-1
{
    height:1080px;
    width: 100%;
    background: url('../img/design_site_podcast.png');
    
    background-size: cover;

    display:grid; 
    grid-template-columns: 0.80fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "section-1-first section-1-second";

}



#section-1-buttons
{
    display: block;
    text-align:center;
}



#section-1-first
{
  width: 100%;
  grid-area: section-1-first;
}

#section-1-second
{
    width: 100%;
    grid-area: section-1-second;
    display: flex;
    align-items: center;
    white-space:nowrap
}

#section-1-button1
{
    margin-right: 37px;
    
    background-color:#ffffff;
	border-radius:85px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:36px 73px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #2f6627;*/
    font-weight: bold;
    font-size: 50px;
    font-family: "Montserrat Regular", sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.356);
}

#section-1-button2
{
    margin-left: 37px;

    background:none;
	border-radius:85px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:28px 65px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #2f6627;*/
    font-weight: bold;
    font-size: 50px;
    font-family: "Montserrat Regular", sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.356);
    border:8px solid rgb(255, 255, 255)
}

#section-1-content-wrapper
{
    display: inline;
}

h1{
    font-family: "Stable Regular", sans-serif;
    


    font-size: 130px;
    

    background: #25B52F;
    background: -webkit-linear-gradient(to bottom, #24b42e 0%, #166918 100%);
    background: -moz-linear-gradient(to bottom,#24b42e 0%, #166918 100%);
    background: linear-gradient(to bottom,#24b42e 0%, #166918 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    -webkit-text-stroke: 0.01px  #2cc035;
    filter: drop-shadow(2px 3px 5px  rgb(0, 0, 0));
}





/*SECTION 2*/

#section-2
{
    text-align: center;
}

#section-2>h2
{
    margin-top:80px;
}

#section-2-divs
{
    display:grid; 
    
    grid-template-rows: 1fr;
    grid-template-areas:
    "section-2-div1 section-2-div2 section-2-div3";

    width: 100%;
    justify-content: center;
    margin-top:40px;
    
}


@media screen and (max-width: 1050px) and (min-width:700px) {
    #section-2-divs{
        display:grid; 
    
        
        grid-template-rows: 1fr;
        grid-template-areas:
        "section-2-div1 section-2-div2"
        "section-2-div3 section-2-div3";
    }

    #section-2-div3
    {
        justify-self: center;
        margin-top: 35px;
    }
}


#section-2-divs>div
{
    height: 400px;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}


#section-2-div1
{
    grid-area: section-2-div1;
    background: white;
    border:1px solid #ebebeb;
}

#section-2-div2
{
    grid-area: section-2-div2;
    background: url('../img/divbg.png');
    background-size: cover
}

#section-2-div3
{
    grid-area: section-2-div3;
    background: white;
    border:1px solid #ebebeb;
}

.section-2-img
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-2-text
{
    
}


@media screen and (max-width: 700px){
    #section-2-divs{
        display:grid; 
    
        
        grid-template-rows: 1fr;
        grid-template-areas:
        "section-2-div1"
        "section-2-div2"
        "section-2-div3";
    }


    #section-2-divs
    {
        margin: 0 auto;
    }
    
    #section-2-divs>div
    {
        
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .section-2-img
    {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/*SECTION 3*/

#section-3
{
    height:800px;
    width: 100%;
    background: url('../img/background_avis.png');
    background-image: cover;
    background-size: cover;
    color:white;
}

@media screen and (max-width: 775px){
    #section-3
    {
        height:1100px;
    }
}

.section-3-container
{
    margin: 0 auto;
    max-width: 1180px;
    width: 90%;
    
}

#h2_review
{
    text-align: center;
    padding-top:150px;
    font-size: 45px;
    font-style: normal;
    font-family: "NICLA DEMO", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#h2_span_review
{
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media screen and (min-width: 776px){
    #reviews>div>h3
    {
    max-width: 500px;
    font-size: 24px;
    display: inline-block;

    
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
}



@media screen and (min-width: 1400px){
    .section-3-container>h2
    {
        padding-top:180px;
    }
}

#reviews
{
    display:grid; 
    grid-template-rows: 1fr;
    grid-template-areas:
    "review1"
    "review2"
    "review3";
}

#review1
{
    grid-area: review1;
    float:right;
    
}
#review1>img
{
    margin-right: 20px;
    display: inline-block;

}

#review2
{
    grid-area: review2;
    justify-self: end;

}


#review2>img
{
    margin-left: 20px;
}


@media screen and (max-width: 774px){
    #review2>img
    {
        margin-left: 65%;
    }
}


#review3
{
    grid-area: review3;
    float:right;
}
#review3>img
{
    margin-right: 20px;
}